@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: #f0f2f5;
    overflow-x: hidden;
}

/*Container Principal*/
.container_pagina_login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #EEE;
    padding: 20px;
    box-sizing: border-box;
}

.pagina_login_container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    height: 90%;
    width: 90%;
    max-width: 1200px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.248);
    overflow: hidden;
}

/*Lado da imagem/logo*/
.container_informacoes_login {
    background:radial-gradient( #5424A2, #280f50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_informacoes_login img {
    width: 90%;
    object-fit: contain;
}

.container_informacoes_login pre{
    font-size: 26px;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-top: -100px;

}

/* Lado do formulário*/
.container_login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
}

.formulario {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 30px 20px;
    background-color: #fff;
    overflow: hidden; 
}

/* Aba de navegação (Entrar / Cadastro) */
.btn-form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    position: relative;
}

.formulario span {
    font-weight: 600;
    font-size: 19px;
    color: #333;
    cursor: pointer;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.formulario span:hover {
    color: #280f50;
}

#Indicador {
    position: absolute;
    top: 25px;
    bottom: 10px;
    left: 0;
    width: 50%;
    height: 3px;
    background-color: #280f50;
    transition: transform 0.5s ease;
}

/*Formulários*/
.formulario form {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 100%;
    height: calc(100% - 160px); /* garante altura sem extrapolar */
    padding: 0 10px;
    overflow-y: auto;
    transition: transform 0.6s ease;
}

.formulario form input {
    width: 370px;
    height: 45px;
    margin: 12px 0;
    padding: 0 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border 0.3s;
}

.formulario form input:focus {
    outline: none;
    border: 1px solid #5424A2;
}

/* Botão */
.formulario form .btn {
    width: 395px;
    height: 45px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    background-color: #5424A2;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 16px;
}

.formulario form .btn:hover {
    background-color:  #280f50;
}

/* Link de "Esqueceu a senha" */
.formulario form a {
    font-size: 13px;
    display: block;
    margin-top: 10px ;
    text-decoration: none;
    color: #5424A2;
    transition: color 0.3s;
}

.formulario form a:hover {
    color:  #280f50;
}

/*Mostrar senha*/
.mostrar-senha {
    display: flex;
    flex-direction: column;   
    margin-left: 160px;
    margin-top: 15px;
    font-size: 13px;
    color: #555;
    gap: 5px; /* espaço entre checkbox e label */
}

.mostrar-senha input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-left:35px;
}


/*Animação de Entrar/Cadastro */
#EntrarPainel {
    margin-top: 150px;
    transform: translateX(0);
}

#CadastroSite {
    margin-top: 20px;
    margin-bottom: 25px; 
    transform: translateX(100%);
}

/* Quando alterna */
.container_login.active #EntrarPainel {
    transform: translateX(-100%);
}

.container_login.active #CadastroSite {
    transform: translateX(0);
}

label{
    font-size: 14px;
    color: #272727;
    margin-bottom: -5px;
}

#btn_site{
   margin-top: 15px; font-size:18px; height: 40px; width: 250px; border-radius: 30px; border: none; background-color: #ece0ffe2; color: black; transition: transform 0.6s ease;}

#btn_site:hover{
    transform: scale(1.1);
    background-color: #00ff1a;
}